@page "/full-log"
@using IrrigationController.Core
@using IrrigationController.Core.Domain
@inject GetFullLogUseCase GetFullLogUseCase

<PageTitle>Full Log</PageTitle>

<h1>Full Log</h1>
<p>
    <Log Events="events" />
</p>

@code
{
    private IReadOnlyList<IIrrigationEvent> events = [];

    protected override void OnInitialized()
    {
        this.events = this.GetFullLogUseCase.Execute();
    }
}
